<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/meta.ejs') %>
    <title><%= title%></title>
</head>
<body>
   
    <h1>this is home page</h1>
    <%- include('../partial/data.ejs') %>
    <%- include('../partial/section.ejs') %>
</body>
</html>