<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partial/meta.ejs') %>
    <title><%= title%></title>
</head>
<body>
   
    <h1>This is Index page</h1>
    <a href="/download">Download</a>
    <%- include('../partial/data.ejs') %>
    <%- include('../partial/section.ejs') %>
</body>
</html>